
body {
    font-family: "Courier New", monospace; 
    background-color: silver; 
    text-align: center; 
    /* font
    background
    centers img and text */
  }
  
  /* make all images same size */
  img {
    max-width: 100%; 
    height: auto;       /* maintains aspect ratio */
    object-fit: cover;  /* images cover the specified dimensions */
    width: 500px;       /* Set width */
    height: 500px;      /* Set height */
  }