
body {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  background-color: rgb(121, 210, 125); 
  text-align: center; 
  /* font
  background
  centers img and text */
}

/* make all images same size */
img {  
  width: 400px;       /* Set width */
  height: 400px;      /* Set height */
}

.back-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 10px;
  color: white;  
  border-radius: 5px;
}